<p><%= gsd_item.content %></p>

<div class="row clearfix">
	<% if gsd_item.completed_at? %>
		<div class="complete">
			<%= link_to complete_gsd_list_gsd_item_path(@gsd_list, gsd_item.id), method: :patch do %>
				<i style="opacity: 0.4;" class="fa fa-check"></i>
			<% end %>
		</div>
		<div class="gsd_item">
			<p style="opacity: 0.4;"><strike><%= gsd_item.content %></strike></p>
		</div>
		<div class="trash">
			<%= link_to gsd_list_gsd_item_path(@gsd_list, gsd_item.id), method: :delete, data: { confirm: "Are you sure?" } do %>
				<i class="fa fa-trash"></i>
			<% end %>
		</div>

<% else %>
		<div class="complete">
			<%= link_to complete_gsd_list_gsd_item_path(@gsd_list, gsd_item.id), method: :patch do %>
				<i class="fa fa-check"></i>
			<% end %>
		</div>
		<div class="gsd_item">
			<p><%= gsd_item.content %></p>
		</div>
		<div class="trash">
			<%= link_to gsd_list_gsd_item_path(@gsd_list, gsd_item.id), method: :delete, data: { confirm: "Are you sure?" } do %>
				<i class="fa fa-trash"></i>
			<% end %>
		</div>
	<% end %>
</div>